@import url("reset.css");
@import url("cabecalho.css");
@import url("sobre.css");
@import url("metricas.css");
@import url("vagas.css");
@import url("depoimento.css");
@import url("email.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
:root{
    --fonte--principal: 'Inter', sans-serif;
    --branco: #FFF;
    --cinza--escuro: #3A404E;
    --cinza--claro2: #EAECF0;
    --cinza--claro: #667085;
    --preto: #101828;
    --vermelho--escuro: #8E2424;
    --vermelho--claro: #c13333;
}

body{
    font-family: var(--fonte--principal);
    font-weight: 500;
    font-size: 16px;
    color: var(--preto);
    background-color: var(--branco);
}